* {
	box-sizing: border-box;
}
h1 {
	font-family: Helvetica;
	color:#1a0000;
	margin-bottom: 15px;
}
.col-md-4 p {
	font-family: serif;
	border: 1px solid #000000;
	background-color: #808080;
	width:90%;
	height: 150px;
	margin-right: auto;
	margin:left: auto;
	color: #000000;
}
.col-md-4 .chicken {
	background-color: #ff99ff;
}
.col-md-4 .beef {
	background-color: #cc0000;
}
.col-md-4 .sushi {
	background-color: #ffcc00;
}
.row {
	width:100%;
}
@media (min-width: 992px) {
	.col-md-4 {
		float: left;
	}
	.col-md-4 {
		width: 33%;
	}
}
