* {
	box-sizing: border-box;
}
h1 {
	font-family: Helvetica;
	color:#1a0000;
	margin-bottom: 15px;
}
p {
	font-family: serif;
	border: 1px solid #000000;
	background-color: #808080;
	margin-right: auto;
	margin:left: auto;
	color: #000000;
}
.chicken {
	background-color: #ff99ff;
}
.beef {
	background-color: #cc0000;
}
.sushi {
	background-color: #ffcc00;
}