* {
	box-sizing: border-box;
}
h1 {
	font-family: Helvetica;
	color:#1a0000;
	margin-bottom: 15px;
}
p {
	font-family: serif;
}
.chicken {
	width:30%;
	background-color: #ff99ff;
}
.beef {
	background-color: #cc0000;
}
.sushi {
	background-color: #ffcc00;
}